<form style="margin:0" method="GET" action="settings.cgi">
<table width="100%" cellpadding="0" cellspacing="0">
<tr nowrap valign="middle"><td>
<input type=hidden name="module" value="modulename">
<input type=hidden name="page" value="admin1">
<select name="setting1" size=1<option>this setting</option><option>this other setting</option><option>a third option</option></select><br>
<input type=text size=26 maxlength=256 name="setting2" value="current setting"><br>
<input type=submit name="Submit" value="Submit" onclick="javascript:return confirm('Are you sure you want to change the settings?')">
<input type=reset name="Reset" value="Reset" onclick="javascript:return confirm('Are you sure you want to restore to the previous settings?')">
</td></tr>
</table>
</form>
