<table width=100% height=100% border=0 cellpadding=0 cellspacing=0 bgcolor=#bb3333>
<tr><td height=1 colspan=2 valign=middle><img src="img/clear.gif" width=29 height=21 align=top><font face="Verdana" ><B>The sample authoring application<B></td></tr>
<tr><td width=3><img src="img/clear.gif" width=3></td><td valign=top width=100% ><OBJECT ID="Testx" CLASSID="CLSID:E5BB65EF-36FC-4AB7-B201-4F74EE7AE871" CODEBASE="Testx.OCX">
<PARAM NAME="Init" VALUE="this is the intialization data"> 
</OBJECT></td></tr>
</table>